body, html {
    height: 100%;

  }


header h1{
    color: white;
    text-align: center;
    padding-bottom: 5%;

}

.maxwidth {
    max-width:60%;
}

footer{
    display: block;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-image: linear-gradient(rgb(39, 40, 44), rgb(5, 4, 17));
    color: white;
    box-shadow: 3px 10px 70px #3c7fb6;
    text-align: center;
    
    
}

.text-footer{
    font-size: 13px;
    text-align: center;
}

.inputbox{
    width: 100%;
    text-align: left;
    margin: 10px;
}

/*------------------------------------*\
	Background-Image
\*------------------------------------*/

.bg-img{
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    background: #000;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

/*------------------------------------*\
	Nav-bar
\*------------------------------------*/
.byte-img {
   width: 250px;
   height: 44px;
   align-items: center;
   
}


.nav-color {
    padding: 10px;
    box-shadow: 3px 10px 70px #31a1d4;
    background-image: linear-gradient(rgb(15, 62, 131), rgb(24, 25, 26));
}


.nav-button {
    margin-left: 10em;
 
    
}


.formattext{
    text-align: left;
    word-break: break-word;
}

.logout{
    position: absolute;
    left: 93%;
    color: white;
    top: 19%
}


/*------------------------------------*\
	Index-Menu
\*------------------------------------*/
.menu-card {
    box-shadow: -1px 1px 5px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 15px; 
    padding: 10px;
    margin: 10px;
    display: inline-block;
    margin-top: 10em;
     
    
}

.menu-img-module{
    width: 268px;
    height: 268px;
    align-items: center;
    margin: 20px;
}

/*------------------------------------*\
	Cards-estoque
\*------------------------------------*/

.delete-icon-estoque{
    width: 35px;
    height: 35px;
    
}

.edit-icon-estoque{
    width: 35px;
    height: 35px;

}

.buttons-estoque{
    text-align: end;
}


.formatid{
    margin-left: 15px;
    margin-top: 7px;
}


.formatavatar{
    width: 170px;
    height: 170px;
    margin: 5px;
}

.formatButtonSearch{
     margin-left: 0px;
     margin-bottom: 15px;
     margin-top: 15px;
     margin-left: 5px;
    
}

.add-estoque {
    margin-top: 10em;
}

.format-add-button{
   display: inline-block;
   margin-left: 5px;
}

.formatbtn{
    top: 80%;
    right: 15%;
 
}

.input-type-estoque{
    width: 75%;
    float: left;
    position: absolute;
 }

.add-icon-estoque{
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
    bottom: 10%;
    right: 5%;
 

    
}

.add-icon-estoque:hover{
    opacity: 0.5;
    
    
}

.add-icon-type{

    width: 37px;
    height: 37px;
    position: absolute;
    margin-left: 78%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
 

    
}

.add-icon-type-edit-page{

    width: 37px;
    height: 37px;
    position: absolute;
    left: 82%;
    top: 58.5%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
 

    
}

.add-icon-type:hover{
    opacity: 0.5;
    background-color: #0855a7;
 
}

.attention-icon{
    width: 20px;
    height: 20px;

    
}


/*------------------------------------*\
	Type
\*------------------------------------*/

.button-modal-type{
    right: 10px;
    display: block;

}

/*------------------------------------*\
	Cards Orcamento
\*------------------------------------*/

.btn-confirm-orcamento {
      position: absolute;
      left: 94%;
      top: 5%;
      width: 35px;
      height: 35px;
     
       
}



.btn-effect {
    font-family: 'Roboto', sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 20px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
}

.btn-effect:hover {
    
    transform: translateY(-5px);
    box-shadow: 5px 10px 20px rgba(69, 94, 94, 0.4);

}


.btn-orcamento{
    width: 90%;
    position: absolute;
}

.orcamento-input-add{
    width: 90%;      
    
}

.orcamento-input-price {
    width: 40%;
    margin-top: 10px;
    
}


.orcamento-product-add-icon{

    width: 37px;
    height: 37px;
    position: absolute;
    left: 86%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
    top: 23%;
}

.orcamento-add-icon:hover{
    opacity: 0.5;
    background-color: #0855a7;

}

.orcamento-client-add-icon{

    width: 37px;
    height: 37px;
    position: absolute;
    left: 86%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
    top: 39%;
}

.dropdown-orcamento{
    display:flex;
    
}

.dropdown-icon{
    width: 40px;
    height: 40px;   
    left: 50%;
    z-index: 999999;
}

.bg-aproved {
    background-color: #d7f7d1;
}

.bg-reproved {
    background-color: #fcb9b5;
}


/*------------------------------------*\
	Card Clientes
\*------------------------------------*/


.cliente-input-cnpj{
    width: 75%;
}

.delete-icon-cli{
    width: 35px;
    height: 35px;
    left: 2px;
    position: relative;
}

.show-icon-cli{
    width: 35px;
    height: 35px;
    left: 2px;
    position: relative;
}


.edit-icon-cli{
    width: 35px;
    height: 35px;
    left: 2px;
    position: relative;
}

.nav-cliente:visited {
    color:#00ff4c
}
.nav-cliente:focus {
    color: red;
    outline: #00ff4c;

}

