body, html {
    height: 100%;

  }


header h1{
    color: white;
    text-align: center;
    padding-bottom: 5%;

}

.maxwidth {
    max-width:60%;
}

footer{
    padding: 1px;
    background-image: linear-gradient(rgb(22, 31, 78), rgb(12, 12, 12));
}

.inputbox{
    width: 100%;
    text-align: left;
    margin: 10px;
}

/*------------------------------------*\
	Background-Image
\*------------------------------------*/

.bg-img{
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    background: #000;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

/*------------------------------------*\
	Nav-bar
\*------------------------------------*/
.byte-img {
   width: 250px;
   height: 44px;
 

   
}


.nav-color {
    padding: 8px;
    box-shadow: 3px 5px 70px #2277af;
    background-image: linear-gradient(rgb(22, 31, 78), rgb(12, 12, 12));
    

}

.nav-button {
    margin-left: 10em;
}



.formattext{
    text-align: left;
    word-break: break-word;
}


/*------------------------------------*\
	Index-Menu
\*------------------------------------*/
.menu-card {
    box-shadow: -1px 1px 5px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 15px; 
    padding: 10px;
    margin: 10px;
    display: inline-block;
    margin-top: 10em;
     
    
}

.menu-img-module{
    width: 268px;
    height: 268px;
    align-items: center;
    margin: 20px;
}

/*------------------------------------*\
	Cards-estoque
\*------------------------------------*/


.formatid{
    margin-left: 15px;
    margin-top: 7px;
}

.formatbtn{
  
   position:absolute;
    display: inline-block;
   margin-left: 30%;
}

.formatavatar{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.formatButtonSearch{
     margin-left: 0px;
     margin-bottom: 15px;
     margin-top: 15px;
     margin-left: 5px;
    
}

.add-estoque {
    margin-top: 10em;
}

.format-add-button{
   display: inline-block;
   margin-left: 5px;
}

.input-type-estoque{
    width: 75%;
    float: left;
    position: absolute;
 }

.add-icon-estoque{
    width: 60px;
    height: 60px;
    position: fixed;
    margin-left: 90%;
    margin-top: 40%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
 

    
}

.add-icon-estoque:hover{
    opacity: 0.5;
    
    
}

.add-icon-type{

    width: 37px;
    height: 37px;
    position: absolute;
    margin-left: 78%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    z-index: 999;
 

    
}

.add-icon-type:hover{
    opacity: 0.5;
    background-color: #0855a7;
 
}


